body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #98bef6;
}

.container {
  padding: 20px;
}

h1 {
  text-align: center;
}

/* GRID RESPONSIVO */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* LOADING */
.loading {
  text-align: center;
  font-size: 20px;
}