.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  background: white;

  transition: transform 0.2s, box-shadow 0.2s;
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card h3 {
  font-size: 14px;
  margin: 10px 0;
}

.price {
  font-weight: bold;
  color: rgb(188, 177, 54);
}

/* ✨ HOVER */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}